* {
  font-family: 'Economica', sans-serif;
}

.border {
  background-color: #FAFAFD;
  padding: 1%;
}

h1 {
  font-family: 'Economica', sans-serif;
}

p {
  font-family: 'Economica', sans-serif;
}

#container {
  background-color: #FAFAFD;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.selected {
  color: #038DBE;
}

.callout {
  background-color: #A5E7FD;
}

.callout p{
  background-color: #A5E7FD;
}

.button {
  background-color: #038DBE;
}

#editing {
  height: 350px;
}

#deleteFolder {
  font-size: .1rem;
  text-align: center;
  height: 15px;
  padding: .2em;
  background-color: #038DBE;
}

h5 {
  font-family: 'Economica', sans-serif;
}

input {
  font-family: 'Economica', sans-serif;
  font-weight: bold;
  background-color: #DDE1EA;
}

#folder-names {
  padding-left: 2.2%;
  margin-right: 0%;
}

#folder-bar {
  background-color: #FAFAFD;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-bottom: 3%;
}

#note-bar {
  width: 77.5%;
}
