.selected {
  color: blue;
}

#editing {
  height: 350px;
}

#deleteFolder {
  font-size: .1rem;
  text-align: center;
  height: 15px;
  padding: .2em;
  background-color: #673A3C;
}

h5 {
  margin: 0
}
